@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');



body{
    background: #F3F1FF;
    font-family: 'Architects Daughter', cursive;
}
.title{
    color: #562EFF;
    font-size: 24px;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background: whitesmoke;
    padding: 30px;
    width: 870px;
    border-radius: 5px;
}
.top-players-title{
    margin-top: 3px;
}
.player{
    display: flex;
}
.players-name{
    margin-left: 16px;
}
.player img{
    width: 56px;
    height: 56px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}

hr{
    margin-top: 30px;
}
/* ---------------------------------------------- */
.top-blogs{
    
}
.thumbline img{
    width: 177px;
    height: 117px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
    margin-right: 10px;
}
.blog-info a{
    text-decoration: none;
}