@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background: white;
    width: 870px;
    padding: 30px;
}
.top-players{
    
}
.players-name{
margin-left: 16px;
}
.player img{
    width: 56px;
    height: 56px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
}

.title{
    color: #562EFF;
}